/* google font */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #4e47ff;
  font-size: 34px;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* common styles */
.bg-color-all {
  background-color: #f5f9ff;
}
/*  */

/*  */
main {
  max-width: 1240px; /* or whatever the total width of your content is */
  margin: 0 auto;
}

header {
  background-image: url("../Assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 698px; /* full screen height */
}

.btn-primary {
  background-color: #4e47ff;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 12px 36px 12px 36px;
  border: none;
}

/* nav styles */

.navbar {
  display: flex;
  align-items: center;
  gap: 909px;
  margin: 0 250px;
}
.signup {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  /* width: 148px; */
  /* height: 50px; */
  transition: all 0.2s ease;
  border: none;
  padding: 12px 36px 12px 36px;
  white-space: nowrap;
}

.signup:hover {
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
}
.banner {
  /* display: flex;
  flex-direction: column;
  align-items: center; /* horizontally center */
  /* justify-content: center;
  gap: 37px; */
  padding-top: 150px;

  text-align: center;
}
.banner-text {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: bold;
  /* width: 905px; */
  height: 152px;
  color: #252432;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  /* margin: 309px 267px 237px 267px; */
}

.stayfocused {
  width: 174px;
  height: 48px;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 37px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.stayfocused:hover {
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
}

/* action part style */

.action {
  display: flex;
  /* margin-top: 116px; */
  justify-content: space-between;

  /* gap: 203px; */
  /* justify-content: center; */
}

.text-part {
  margin-top: 116px;
}
.image-part {
  margin-top: 116px;
}
.action-text {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}

.action-para {
  font-family: "Raleway", sans-serif;
  color: #252432;
  font-weight: lighter;
  width: 517px;
  height: 60px;
  font-size: 24px;
  margin-top: 23px;
  margin-bottom: 23px;
}

.launchlive {
  width: 229px;
  height: 48px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 36px 12px 36px;
  white-space: nowrap;
  transition: all 0.2s ease;
}

.launchlive:hover {
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
}
.image-part img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}
/* stats style start */
.stats {
  background-color: #e6e6ff;
  border-radius: 24px;
  /* padding: 50px 0; */
  text-align: center;
  /* max-width: 900px; */
  margin-top: 116px;
  /* width: 100%; */
  /* width: 800px; */
  padding: 50px 142px 50px 142px;
}
.statistics li {
  list-style: none;
  color: #4e47ff;
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: bold;
}

.statistics-subheading li {
  font-family: "Inter", sans-serif;

  list-style: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: lighter;
  font-size: 20px;
}
.statistics {
  display: flex;
  justify-content: space-around;
}
.statistics-subheading {
  display: flex;
  justify-content: space-around;
}
.stats-text {
  font-family: "Raleway", sans-serif;
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 40px;
}
.user-text {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-top: 137px;
  margin-bottom: 50px;
}
.user-container {
  /* padding: 68px 24px 94px 24px; */
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.6);
  height: 200px;
  width: 330px;
  border-radius: 14px;
}
.user-image-name {
  display: flex;
  align-items: center;
  gap: 6px;
}

.user-rvw-heading {
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 8px;
}

.user-review-txt {
  width: 318px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  margin-bottom: 24px;
}

.user-icon-image {
  border-radius: 9999px;
  height: 40px;
  width: 40px;
}

.user-image-name li {
  list-style: none;
}

.reviewer-name {
  color: rgba(117, 117, 117, 1);
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

.reviewer-date {
  color: rgba(179, 179, 179, 1);
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
}

.user-reviews {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.get-in-touch {
  padding: 0px;
  display: flex;
  gap: 115px;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
  /* justify-content: flex-end; */
  margin-top: 93px;
}

.touch-text {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 97px;
  width: 528px;
}

.form-fields {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800px;
  margin-bottom: 15px;
}

section input[type="text"],
section input[type="email"],
section textarea {
  height: 70px;
  border-radius: 12px;
  background-color: white;
  color: black;
  display: block;
  width: 497px;
  padding: 20px 20px 10px 32px;
  margin-bottom: 24px;
  border: none;
}

.gettinginbutton {
  text-align: center;
  width: 550px;
  padding: 19px 201px 19px 201px;
  transition: all 0.2s ease;
  white-space: nowrap;
  margin-bottom: 85px;
}

.gettinginbutton:hover {
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
}
/* 
/* .footer-section {
  margin-top: 70px;
  background-color: white;
  padding: 60px 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */

.footer-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 10px 455px 103px 454px;
}
.footer-logo {
  font-family: "Inter", sans-serif;
  color: rgba(78, 71, 255, 1);
  font-size: 100px;
  width: 291px;
  height: 121px;
  margin-bottom: 0px;
}
.footer-description {
  margin-top: 8px;
  color: #8987a1;
  font-size: 17px;
  width: 531px;
  height: 48px;
  text-align: center;
  margin-bottom: 0px;
  font-weight: lighter;
}

.footer-navigation-bar {
  margin-top: 20px;
  display: flex;
  gap: 48px;
  align-items: center;
}
.footer-navigation-bar li {
  list-style: none;
}
.footer-navigation-bar li a {
  text-decoration: none;
  color: #8987a1;
  font-size: 16px;
  font-weight: lighter;
}
